.NavItem {
  width: 100%;
  /* margin-top: "1%"; */
}

.NavItem a {
  text-transform: uppercase;
  text-decoration: none;
  /* color: #fefefe; */
  font-size: 1.5rem;
}

.LightLink a, .LightLink a:visited {
  color: black;
}

.LightLink a:hover{
  border-top: 2px solid black;
}


.DarkLink a, .DarkLink a:visited {
  color: white;
}

.DarkLink a:hover{
  border-top: 2px solid white;
}


