.SignUp{
    display: flex;
    flex-direction: column;
}

.SignUp form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    margin-top: 2.5%;
}

.SignUp div{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.SignUp input{
    margin-left: 2%;
}

.SignUp button{
    width: 25%;
    margin: 0 1% 0 1%;
}